<% content_for :breadcrumb do %>
  <li>Account</li>
  <li class="active">Sign in</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Sign in
    </strong>
  </h3>
  <p>Please, sign in...</p>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "accounts/shared/links" %>
