<%= simple_form_for(@error_code) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :error_code %>
    <%= f.input :level %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
