<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment:</strong>
  <%= @external_quality_control.equipment %>
</p>

<p>
  <strong>Device:</strong>
  <%= @external_quality_control.device_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @external_quality_control.test_id %>
</p>

<p>
  <strong>Sample type:</strong>
  <%= @external_quality_control.sample_type %>
</p>

<p>
  <strong>Reagent:</strong>
  <%= @external_quality_control.reagent %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @external_quality_control.lot_number %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @external_quality_control.expired_at %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @external_quality_control.unit %>
</p>

<p>
  <strong>Mean:</strong>
  <%= @external_quality_control.mean %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @external_quality_control.sd %>
</p>

<%= link_to 'Edit', edit_external_quality_control_path(@external_quality_control) %> |
<%= link_to 'Back', external_quality_controls_path %>
