<%= simple_form_for @diagnosis do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :protocol %>
    <%= f.input :version %>
    <%= f.input :authorized_key %>
    <%= f.input :year, collection: 2015..2029 %>
    <%= f.input :month, collection: 1..12 %>
    <%= f.input :day, collection: 1..31 %>
    <%= f.input :hour, collection: 0..23 %>
    <%= f.input :minute, collection: 0..59 %>
    <%= f.input :second, collection: 0..59 %>
    <%= f.input :time_zone %>
    <%= f.input :elapsed_time %>
    <%= f.input :ip_address %>
    <%= f.input :location %>
    <%= f.input :latitude %>
    <%= f.input :sex, collection: -1..2 %>
    <%= f.input :age_band, collection: -1..9 %>
    <%= f.input :order_number %>
    <%= f.input :technician %>
    <%= f.input :data %>
    <%= f.input :equipment %>
    <%= f.input :equipment %>
    <%= f.input :equipment %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
