<% if false %> 
<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnosis_path %></li>
  <li class="active">Examples</li>
<% end %>
<% end %>
<% content_for :breadcrumb do %>
  <li class="active">Diagnosis</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Measurement history of Diagnosis
    </strong>
  </h3>
  <p>Here you'll see measurement history of diagnosis for all equipments.</p>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= 'active' if @active == 'diagnoses' %>"><%= link_to Diagnosis, "#tab-diagnoses", role: "tab", aria: { controls: "tab-diagnoses"}, data: { toggle: "tab" } %></li>
    <% @equipment.each do |equipment| %>
      <li role="presentation" class="<%= 'active' if @active == equipment.db %>"><%= link_to equipment.equipment, "\#tab-#{equipment.db}", role: "tab", aria: { controls: "tab-#{equipment.db}" }, data: { toggle: "tab" } %></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane <%= 'active' if @active == 'diagnoses' %>" id="tab-diagnoses">
      <%= render partial: 'diagnoses/index', locals: { equipment: @diagnoses } %>
    </div>
    <% @equipment.each do |equipment| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if @active == equipment.db %>" id="tab-<%= equipment.db %>">
        <%= render partial: equipment.db + '/index', locals: { equipment: @equipment_list[equipment.db], assay_kits: @assay_kit_list[equipment.db], reagents: @reagent_list[equipment.db] } %>
      </div>
    <% end %>
  </div>

</div>