<% if false %> 
<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnosis_path %></li>
  <li class="active">Examples</li>
<% end %>
<% end %>
<% content_for :breadcrumb do %>
  <li class="active">Diagnosis</li>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Diagnoses</h1>

<table>
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Order Number</th>
      <th>Measured</th>
      <th>Ip address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Transmitted</th>
      <th>Technician</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= diagnosis.equipment %></td>
        <td><%= diagnosis.order_number %></td>
        <td><%= diagnosis.measured_at %></td>
        <td><%= diagnosis.ip_address %></td>
        <td><%= diagnosis.latitude %></td>
        <td><%= diagnosis.longitude %></td>
        <td><%= diagnosis.created_at %></td>
        <td><%= diagnosis.technician %></td>
<% if false %>
        <td><%= link_to 'Show', diagnosis %></td>
        <td><%= link_to 'Destroy', diagnosis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
