<% if false %> 
<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnosis_path %></li>
  <li class="active">Examples</li>
<% end %>
<% end %>
<% content_for :breadcrumb do %>
  <li class="active">Diagnosis</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Measurement history of Diagnosis
    </strong>
  </h3>
  <p>Here you'll see measurement history of diagnosis for all equipments.</p>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= 'active' if @active == 'diagnoses' %>"><a href="#diagnosis" aria-controls="diagnosis" role="tab" data-toggle="tab">Diagnosis</a></li>
    <% @equipment.each do |equipment| %>
      <li role="presentation" class="<%= 'active' if @active == equipment.db %>"><a href="#<%= equipment.db %>" aria-controls="<%= equipment.db %>" role="tab" data-toggle="tab"><%= equipment.equipment %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane <%= 'active' if @active == 'diagnoses' %>" id="diagnosis">
      <%= render 'index' %>
    </div>
    <% @equipment.each do |equipment| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if @active == equipment.db %>" id="<%= equipment.db %>">
        <%= render partial: equipment.db + '/index', locals: { equipment: @equipment_list[equipment.db.to_sym] } %>
      </div>
    <% end %>
  </div>

</div>
