<% content_for :breadcrumb do %>
  <li class="active">Diagnosis</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Measurement history of Diagnosis
    </strong>
  </h3>
  <p>Here you'll see measurement history of diagnosis for all equipments.</p>
</div>

<div>

  <!-- Nav tabs -->
  <%= content_tag :ul, class: 'nav nav-tabs', role: 'tablist' do %>
    <% authorized_equipment.each do |equipment| %>
      <%= content_tag :li, role: 'presentation', class: @active == equipment.db ? 'active' : nil do %>
        <%= link_to equipment.equipment, "\#tab-#{equipment.db}", role: "tab", aria: { controls: "tab-#{equipment.db}" }, data: { toggle: "tab" } %></li>
      <% end %>
    <% end %>
  <% end %>

  <!-- Tab panes -->
  <div class="tab-content">
    <% authorized_equipment.each do |equipment| %>
      <%= content_tag :div, role: 'tabpanel', class: 'tab-pane fade' + (@active == equipment.db ? ' active in' : ''), id: "tab-#{equipment.db}" do %>
        <%= render partial: equipment.db + '/index', locals: { equipment: @equipment_list[equipment.db], assay_kits: @assay_kit_list[equipment.db], reagents: @reagent_list[equipment.db], page: @page } %>
      <% end %>
    <% end %>
  </div>

</div>