<p id="notice"><%= notice %></p>

<p>
  <strong>Protocol:</strong>
  <%= @diagnosis.protocol %>
</p>

<p>
  <strong>Version:</strong>
  <%= @diagnosis.version %>
</p>

<p>
  <strong>Authorized key:</strong>
  <%= @diagnosis.authorized_key %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @diagnosis.equipment %>
</p>

<p>
  <strong>Measured at:</strong>
  <%= @diagnosis.measured_at %>
</p>

<p>
  <strong>Elapsed time:</strong>
  <%= @diagnosis.elapsed_time %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @diagnosis.ip_address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @diagnosis.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @diagnosis.longitude %>
</p>

<p>
  <strong>Data:</strong>
  <%= @diagnosis.data %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
