<p id="notice"><%= notice %></p>

<p>
  <strong>Order Number:</strong>
  <%= @diagnosis.order_number %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @diagnosis.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @diagnosis.age_band %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @diagnosis.equipment %>
</p>

<% if @diagnosis.elapsed_time %>
<p>
  <strong>Elapsed time:</strong>
  <%= @diagnosis.elapsed_time %>
</p>
<% end %>

<p>
  <strong>Ip address:</strong>
  <%= @diagnosis.ip_address %>
</p>

<p>
  <strong>Location:</strong>
  <%= @diagnosis.location %>
</p>

<% if @diagnosis.latitude %>
<p>
  <strong>Latitude:</strong>
  <%= @diagnosis.latitude %>
</p>
<% end %>

<% if @diagnosis.longitude %>
<p>
  <strong>Longitude:</strong>
  <%= @diagnosis.longitude %>
</p>
<% end %>

<p>
  <strong>Technician:</strong>
  <%= @diagnosis.technician %>
</p>


<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
