<% content_for :breadcrumb do %>
  <li>Account</li>
  <li class="active">Change profile</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Change your profile
    </strong>
  </h3>
  <p>Change <%= @account.name %>'s profile</p>
</div>

<%= simple_form_for @account, url: account_path, html: { method: :put } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if devise_mapping.confirmable? && @account.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= @account.unconfirmed_email %></p>
    <% end %>

    <%= f.input :name %>
    
    <% if administrator? %>
      <%= f.input :admin, label: '<strong>Administrator?</strong>'.html_safe, as: :boolean %>
    <% end %>

    <hr>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
    <%= link_to "Back", :back, { class: 'btn btn-default pull-right', role: 'button' } %>
  </div>
<% end %>
