<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :klass %><br>
    <%= f.text_field :klass %>
  </div>
  <div class="field">
    <%= f.label :db %><br>
    <%= f.text_field :db %>
  </div>
  <div class="field">
    <%= f.label :variable_kit %><br>
    <%= f.text_field :variable_kit %>
  </div>
  <div class="field">
    <%= f.label :variables_test_ids %><br>
    <%= f.text_area :variables_test_ids %>
  </div>
  <div class="field">
    <%= f.label :variables_test_values %><br>
    <%= f.text_area :variables_test_values %>
  </div>
  <div class="field">
    <%= f.label :variable_qc_service %><br>
    <%= f.text_field :variable_qc_service %>
  </div>
  <div class="field">
    <%= f.label :variable_qc_lotnumber %><br>
    <%= f.text_field :variable_qc_lotnumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
