<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :klass %><br>
    <%= f.text_field :klass %>
  </div>
  <div class="field">
    <%= f.label :db %><br>
    <%= f.text_field :db %>
  </div>
  <div class="field">
    <%= f.label :tests %><br>
    <%= f.number_field :tests %>
  </div>
  <div class="field">
    <%= f.label :prefix %><br>
    <%= f.text_field :prefix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
