<% content_for :breadcrumb do %>
  <li class="active">Equipment</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Equipment
    </strong>
  </h3>
  <p>Here you'll see information of all equipments.</p>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr id="equipment-tableheader">
      <th><%= link_to "#equipment-collapse", role: 'button', data: { toggle: 'collapse', parent: '#accordion'}, aria: { expanded: 'false', controls: 'equipment-collapse' } do %><span class="glyphicon glyphicon-collapse-down"></span><% end %></th>
      <th>Equipment</th>
      <th>Manufacturer</th>
      <th>Klass</th>
      <th>DB name</th>
      <th>Number of Tests</th>
      <th>Variable Prefix</th>
      <th>Mappable</th>
      <% if administrator? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
    <tr id="equipment-collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="equipment-heading">
      <th></th>
      <th>Error code</th>
      <th>Level</th>
      <th colspan="6">Description</th>
      <% if administrator? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @equipment.each do |equipment| %>
      <tr id="<%= "equipment-" + equipment.equipment %>">
        <td><%= link_to "#equipment-collapse_" + equipment.id.to_s, role: 'button', class: 'collapser', aria: { expanded: 'false', controls: "equipment-collapse_" + equipment.id.to_s } do %><span class="glyphicon glyphicon-collapse-down"></span><% end %></td>
        <td><%= equipment.equipment %></td>
        <td><%= equipment.manufacturer %></td>
        <td><%= equipment.klass %></td>
        <td><%= equipment.db %></td>
        <td><%= equipment.tests %></td>
        <td><%= equipment.prefix %></td>
        <td><%= equipment.mappable %></td>
        <% if administrator? %>
          <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
          <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% equipment.error_codes.each do |error_code| %>
        <tr class="collapse in" aria-labelledby="<%= "equipment-heading_" + equipment.id.to_s%>" other-target="<%= "equipment-collapse_" + equipment.id.to_s%>">
          <td></td>
          <td><%= error_code.error_code %></td>
          <td><%= error_code.level %></td>
          <td colspan="4"><%= error_code.description %></td>
          <% if administrator? %>
            <th colspan="2"></th>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
