<% content_for :breadcrumb do %>
  <li class="active">Equipment</li>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Equipment</h1>

<table>
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Manufacturer</th>
      <th>Klass</th>
      <th>DB name</th>
      <th>Variable for Kit/th>
      <th>Variables for Marker ID</th>
      <th>Variables for Marker values</th>
      <th>Variable for QC service</th>
      <th>Variable for QC Lot number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.equipment %></td>
        <td><%= equipment.manufacturer %></td>
        <td><%= equipment.klass %></td>
        <td><%= equipment.db %></td>
        <td><%= equipment.variable_kit %></td>
        <td><%= equipment.variables_test_ids %></td>
        <td><%= equipment.variables_test_values %></td>
        <td><%= equipment.variable_qc_service %></td>
        <td><%= equipment.variable_qc_lotnumber %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
