<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment:</strong>
  <%= @equipment.equipment %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @equipment.manufacturer %>
</p>

<p>
  <strong>Klass:</strong>
  <%= @equipment.klass %>
</p>
<p>
  <strong>DB:</strong>
  <%= @equipment.db %>
</p>
<p>
  <strong>Variable for Kit:</strong>
  <%= @equipment.variable_kit %>
</p>
<p>
  <strong>Variables for Marker ID:</strong>
  <%= @equipment.variables_test_ids %>
</p>
<p>
  <strong>Variables for Marker values:</strong>
  <%= @equipment.variables_test_values %>
</p>
<p>
  <strong>Variable for QC service:</strong>
  <%= @equipment.variable_qc_service %>
</p>
<p>
  <strong>Variable for QC Lot number:</strong>
  <%= @equipment.variable_qc_lotnumber %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
