<%= simple_form_for(@frend) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :version %>
    <%= f.input :manufacturer %>
    <%= f.input :serial_number %>
    <%= f.input :test_type %>
    <%= f.input :processed %>
    <%= f.input :error_code %>
    <%= f.input :kit %>
    <%= f.input :lot %>
    <%= f.input :test_id %>
    <%= f.input :test_result %>
    <%= f.input :integrals %>
    <%= f.input :center_points %>
    <%= f.input :average_background %>
    <%= f.input :measured_points %>
    <%= f.input :point_intensities %>
    <%= f.input :qc_service %>
    <%= f.input :qc_lot %>
    <%= f.input :qc_expire %>
    <%= f.input :internal_qc_laser_power_test %>
    <%= f.input :internal_qc_laseralignment_test %>
    <%= f.input :internal_qc_calculated_ratio_test %>
    <%= f.input :internal_qc_test %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
