<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Measured</th>
      <th>IP address</th>
      <th>Location</th>
      <th>Serial number</th>
      <th>Type</th>
      <th>Kit</th>
      <th>Results</th>
      <th>QC material</th>
      <% if administrator? %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% equipment.each do |frend| %>
      <tr>
        <td><%= frend.diagnosis.measured_at.to_date %></td>
        <td><%= frend.diagnosis.ip_address %></td>
        <td><%= frend.diagnosis.location %></td>
        <td><%= frend.serial_number %></td>
        <td><%= Frend::TEST_TYPE[frend.test_type] %></td>
        <td>
          <% if frend.kit != "0" and frend.kit != "11" %>
            <a href="#" data-toggle="tooltip" data-placement="right" title="<%= '(' + frend.lot + ') ' +  assay_kits[frend.kit][:reagents].join(",  ") %>"><%= assay_kits[frend.kit][:kit] %></a>
          <% elsif frend.kit == "0" %>         
          <% else %>
            <%= assay_kits[frend.kit][:kit] %>
          <% end %>
        </td>
        <% if frend.processed %>
          <td><%= frend.test_values.join(", ") %></td>
        <% else %>
          <td><%= frend.error_code %></td>
        <% end %>
        <td><%= frend.qc_service + " \#" + frend.qc_lot if frend.qc_service and frend.qc_service != "" %></td>
        <% if administrator? %>
          <td><%= link_to diagnosis_path(frend.diagnosis, active: 'frends', page: page), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate equipment, remote: true, params: { active: 'frends' } %>
