<p id="notice"><%= notice %></p>

<h1>Listing Frends</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Serial number</th>
      <th>Type</th>
      <th>Processed</th>
      <th>Error code</th>
      <th>Device</th>
      <th>Device ln</th>
      <th>Test0</th>
      <th>Test1</th>
      <th>Test2</th>
      <th>Test0 result</th>
      <th>Test1 result</th>
      <th>Test2 result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frends.each do |frend| %>
      <tr>
        <td><%= frend.manufacturer %></td>
        <td><%= frend.serial_number %></td>
        <td><%= frend.test_type %></td>
        <td><%= frend.processed %></td>
        <td><%= frend.error_code %></td>
        <td><%= frend.device_id %></td>
        <td><%= frend.device_ln %></td>
        <td><%= frend.test0_id %></td>
        <td><%= frend.test1_id %></td>
        <td><%= frend.test2_id %></td>
        <td><%= frend.test0_result %></td>
        <td><%= frend.test1_result %></td>
        <td><%= frend.test2_result %></td>
        <td><%= link_to 'Show', frend %></td>
        <td><%= link_to 'Edit', edit_frend_path(frend) %></td>
        <td><%= link_to 'Destroy', frend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frend', new_frend_path %>
