<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnoses_path %></li>
  <li class="active">FREND</li>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnosis_path %></li>
  <li class="active">FREND</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Measurement history of Diagnosis for <a href="http://nanoentek.com/product.php?id=4">NanoEnTek FREND</a>
    </strong>
  </h3>
  <p>Here you'll see measurement history of diagnosis for NanoEnTek FREND.</p>
</div>

<table>
  <thead>
    <tr>
      <th>Measured</th>
      <th>IP address</th>
      <th>Manufacturer</th>
      <th>Serial number</th>
      <th>Type</th>
      <th>Processed</th>
      <th>Error code</th>
      <th>Kit</th>
      <th>Tests</th>
      <th>Results</th>
      <th>QC material</th>
      <th>QC expire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frends.each do |frend| %>
      <tr>
        <td><%= frend.diagnosis.measured_at %></td>
        <td><%= frend.diagnosis.ip_address %></td>
        <td><%= frend.manufacturer %></td>
        <td><%= frend.serial_number %></td>
        <td><%= frend.test_type %></td>
        <td><%= frend.processed %></td>
        <td><%= frend.error_code %></td>
        <td><%= frend.kit.to_s + ":" + frend.lot.to_s %></td>
        <td><%= frend.test_id %></td>
        <td><%= frend.test_result %></td>
        <td><%= frend.qc_service + " \#" + frend.qc_lot if frend.qc_service %></td>
        <td><%= frend.qc_expire if frend.qc_service %></td>
        <td><%= link_to 'Show', frend %></td>
        <td><%= link_to 'Edit', edit_frend_path(frend) %></td>
        <td><%= link_to 'Destroy', frend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frend', new_frend_path %>
