<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnoses_path %></li>
  <li class="active">FREND</li>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Frends</h1>

<table>
  <thead>
    <tr>
      <th>Measured</th>
      <th>IP address</th>
      <th>Manufacturer</th>
      <th>Serial number</th>
      <th>Type</th>
      <th>Processed</th>
      <th>Error code</th>
      <th>Device</th>
      <th>Tests</th>
      <th>Results</th>
      <th>QC material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frends.each do |frend| %>
      <tr>
        <td><%= frend.diagnosis.measured_at %></td>
        <td><%= frend.diagnosis.ip_address %></td>
        <td><%= frend.manufacturer %></td>
        <td><%= frend.serial_number %></td>
        <td><%= frend.test_type %></td>
        <td><%= frend.processed %></td>
        <td><%= frend.error_code %></td>
        <td><%= frend.device_id.to_s + ":" + frend.device_lot.to_s %></td>
        <td><%= join_tests(frend) %></td>
        <td><%= join_results(frend) %></td>
        <td><%= frend.qc_service + " \#" + frend.qc_lot if frend.qc_service %></td>
        <td><%= link_to 'Show', frend %></td>
        <td><%= link_to 'Edit', edit_frend_path(frend) %></td>
        <td><%= link_to 'Destroy', frend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frend', new_frend_path %>
