<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @frend.version %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @frend.manufacturer %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @frend.serial_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @frend.type %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @frend.processed %>
</p>

<p>
  <strong>Error code:</strong>
  <%= @frend.error_code %>
</p>

<p>
  <strong>Device:</strong>
  <%= @frend.device_id %>
</p>

<p>
  <strong>Device ln:</strong>
  <%= @frend.device_ln %>
</p>

<p>
  <strong>Test0:</strong>
  <%= @frend.test0_id %>
</p>

<p>
  <strong>Test1:</strong>
  <%= @frend.test1_id %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @frend.test2_id %>
</p>

<p>
  <strong>Test0 result:</strong>
  <%= @frend.test0_result %>
</p>

<p>
  <strong>Test1 result:</strong>
  <%= @frend.test1_result %>
</p>

<p>
  <strong>Test2 result:</strong>
  <%= @frend.test2_result %>
</p>

<p>
  <strong>Test0 integral:</strong>
  <%= @frend.test0_integral %>
</p>

<p>
  <strong>Test1 integral:</strong>
  <%= @frend.test1_integral %>
</p>

<p>
  <strong>Test2 integral:</strong>
  <%= @frend.test2_integral %>
</p>

<p>
  <strong>Control integral:</strong>
  <%= @frend.control_integral %>
</p>

<p>
  <strong>Double:</strong>
  <%= @frend.double %>
</p>

<p>
  <strong>Test0 center point:</strong>
  <%= @frend.test0_center_point %>
</p>

<p>
  <strong>Test1 center point:</strong>
  <%= @frend.test1_center_point %>
</p>

<p>
  <strong>Test2 center point:</strong>
  <%= @frend.test2_center_point %>
</p>

<p>
  <strong>Control center point:</strong>
  <%= @frend.control_center_point %>
</p>

<p>
  <strong>Average background:</strong>
  <%= @frend.average_background %>
</p>

<p>
  <strong>Measured points:</strong>
  <%= @frend.measured_points %>
</p>

<p>
  <strong>Point intensities:</strong>
  <%= @frend.point_intensities %>
</p>

<p>
  <strong>External qc service:</strong>
  <%= @frend.external_qc_service_id %>
</p>

<p>
  <strong>External qc catalog:</strong>
  <%= @frend.external_qc_catalog %>
</p>

<p>
  <strong>External qc ln:</strong>
  <%= @frend.external_qc_ln %>
</p>

<p>
  <strong>External qc level:</strong>
  <%= @frend.external_qc_level %>
</p>

<p>
  <strong>Internal qc laser power test:</strong>
  <%= @frend.internal_qc_laser_power_test %>
</p>

<p>
  <strong>Internal qc laseralignment test:</strong>
  <%= @frend.internal_qc_laseralignment_test %>
</p>

<p>
  <strong>Internal qc calcaulated ratio test:</strong>
  <%= @frend.internal_qc_calcaulated_ratio_test %>
</p>

<p>
  <strong>Internal qc test:</strong>
  <%= @frend.internal_qc_test %>
</p>

<%= link_to 'Edit', edit_frend_path(@frend) %> |
<%= link_to 'Back', frends_path %>
