<p id="notice"><%= notice %></p>

<p>
  <strong>Measured:</strong>
  <%= @frend.diagnosis.measured_at %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @frend.manufacturer %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @frend.serial_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @frend.test_type %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @frend.processed %>
</p>

<p>
  <strong>Error code:</strong>
  <%= @frend.error_code %>
</p>

<p>
  <strong>Kit:</strong>
  <%= @frend.kit %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @frend.lot %>
</p>

<p>
  <strong>Tests:</strong>
  <%= @frend.test_id %>
</p>

<p>
  <strong>Results:</strong>
  <%= @frend.result %>
</p>

<p>
  <strong>Measured points:</strong>
  <%= @frend.measured_points %>
</p>

<p>
  <strong>Point intensities:</strong>
  <%= @frend.point_intensities %>
</p>

<% if @frend.test_type == 1 %>
<p>
  <strong>External QC service brand:</strong>
  <%= @frend.qc_service %>
</p>

<p>
  <strong>External QC lot number:</strong>
  <%= @frend.qc_lot %>
</p>

<p>
  <strong>External QC expire:</strong>
  <%= @frend.qc_expire %>
</p>
<% end %>

<% if @frend.test_type == 2 %>
<p>
  <strong>Internal QC laser power test:</strong>
  <%= @frend.internal_qc_laser_power_test %>
</p>

<p>
  <strong>Internal QC laseralignment test:</strong>
  <%= @frend.internal_qc_laseralignment_test %>
</p>

<p>
  <strong>Internal QC calculated ratio test:</strong>
  <%= @frend.internal_qc_calculated_ratio_test %>
</p>

<p>
  <strong>Internal QC test result:</strong>
  <%= @frend.internal_qc_test %>
</p>
<% end %>

<%= link_to 'Edit', edit_frend_path(@frend) %> |
<%= link_to 'Back', frends_path %>
