<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% case @change_mode %>
    <% when 'password' %>
      <%= f.input :password, label: 'New Password', placeholder: 'Enter new password if you want' %>
      <%= f.input :password_confirmation, label: false, placeholder: 'Confirm new password' %>
    <% else %>
      <%= f.input :full_name, label: 'Name' %>
      <%= f.input :email, label: 'E-mail', placeholder: 'user@domain.com' %>
      <% if administrator? %>
        <hr>
        <h5>Available Privileges</h5>
        <%= f.input :privilege_super, label: 'Super user' %>
        <%= f.input :privilege_reagent, label: 'Reagent Manager' %>
        <%= f.input :privilege_notification, label: 'Notification Receiver' %>
        <%= f.input :privilege_monitoring, label: 'Monitoring' %>
        <%= f.input :privilege_qc, label: 'Quality Control' %>
        <hr>
        <h5>Permitted Equipment</h5>
        <% all_equipment.each do |equipment| %>
          <%= f.input ('equipment_' + equipment.db).to_sym, label: equipment.equipment %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= hidden_field_tag(:change_mode, @change_mode) %>
    <%= f.button :submit, 'Change' -%> 
    <%= link_to 'Cancel', user_path(@user), { class: "btn btn-default", role: "button" } %>
  </div>
<% end %>
