<% content_for :breadcrumb do %>
  <li><%= link_to "Management", user_path(@user) %></li>
  <li class="active">Change user setting</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    User <strong><%= @user.name %></strong> <small><%= @user.full_name %></small>
  </h3>
</div>

<% if @authorized %>
  <%= render 'authorized_edit' %>
<% else %>
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    
    <div class="form-inputs">
      <%= f.input :current_password, label: 'Password' %>
    </div>
    
    <div class="form-actions">
      <%= hidden_field_tag(:change_mode, @change_mode) %>
      <%= f.button :submit, 'Authorize' -%> 
      <%= link_to 'Cancel', user_path(@user), { class: "btn btn-default", role: "button" } %>
    </div>  
  <% end %>
<% end %>
