<% content_for :breadcrumb do %>
  <li>Administrations</li>
  <li class="active">User Management</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      User Management
    </strong>
  </h3>
  <p>Adminstrators only have the privilege for user management.</p>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Super User</th>
      <th>Reagent Manager</th>
      <th>Notification Receiver</th>
      <% all_equipment.each do |equipment| %>
        <th><%= equipment.equipment %></th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.privilege_super %></td>
        <td><%= user.privilege_reagent %></td>
        <td><%= user.privilege_notification %></td>
        <% all_equipment.each do |equipment| %>
          <td><%= user[('equipment_' + equipment.db).to_sym] %></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
