<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Super User:</strong>
  <%= @user.privilege_super %>
</p>

<p>
  <strong>Reagent Manager:</strong>
  <%= @user.privilege_reagent %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
