<% content_for :breadcrumb do %>
  <li class="active">Specification</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Desirable Biological Variation Database Specifications
    </strong>
  </h3>
  <p>Data are extracted from <a href="https://www.westgard.com/biodatabase1.htm">Biological Variation Database, the 2014 Update on Westgard QC</a></p>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Specimen</th>
      <th>Analyte</th>
      <th>Acronym</th>
      <th>Number of Papers</th>
      <th>CVi</th>
      <th>CVg</th>
      <th>Imprecision (%)</th>
      <th>Inaccuracy (%)</th>
      <th>Allowable Total Error (%)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specifications.each do |specification| %>
      <tr>
        <td><%= specification.specimen %></td>
        <td><%= specification.analyte %></td>
        <td><%= specification.acronym %></td>
        <td><%= specification.papers %></td>
        <td><%= specification.cv_i %></td>
        <td><%= specification.cv_g %></td>
        <td><%= specification.imprecision %></td>
        <td><%= specification.inaccuracy %></td>
        <td><%= specification.allowable_total_error %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specification', new_specification_path %>
