<p id="notice"><%= notice %></p>

<p>
  <strong>Specimen:</strong>
  <%= @specification.specimen %>
</p>

<p>
  <strong>Analyte:</strong>
  <%= @specification.analyte %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @specification.acronym %>
</p>

<p>
  <strong>Papers:</strong>
  <%= @specification.papers %>
</p>

<p>
  <strong>Cv i:</strong>
  <%= @specification.cv_i %>
</p>

<p>
  <strong>Cv g:</strong>
  <%= @specification.cv_g %>
</p>

<p>
  <strong>Imprecision:</strong>
  <%= @specification.imprecision %>
</p>

<p>
  <strong>Inaccuracy:</strong>
  <%= @specification.inaccuracy %>
</p>

<p>
  <strong>Allowable total error:</strong>
  <%= @specification.allowable_total_error %>
</p>

<%= link_to 'Edit', edit_specification_path(@specification) %> |
<%= link_to 'Back', specifications_path %>
