<%= simple_form_for(@quality_control_material) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :service %>
    <%= f.input :lot_number %>
    <%= f.input :expire %>
    <%= f.input :equipment %>
    <%= f.input :reagent_name %>
    <%= f.input :reagent_number %>
    <%= f.input :mean %>
    <%= f.input :sd %>
    <%= f.association :reagent %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
