<% content_for :breadcrumb do %>
  <li><%= link_to "Assay Kits", assay_kits_path %></li>
  <li><%= link_to "Quality Control materials", quality_control_materials_path %></li>
  <li class="active">the QC material</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Update the Quality Control Material
    </strong>
  </h3>
  <p></p>
</div>

<%= render 'form' %>

<%= link_to 'Show', @quality_control_material %>
<%= link_to 'Back', quality_control_materials_path %>
