<% content_for :breadcrumb do %>
  <li><%= link_to "Assay Kits", assay_kits_path %></li>
  <li class="active">Quality Control materials</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Information for Quality Control materials
    </strong>
  </h3>
  <p>Here you'll see the list of information for quality control materials.</p>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Lot</th>
      <th>Expire</th>
      <th>Equipment</th>
      <th>Reagent name</th>
      <th>3SD Range</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quality_control_materials.each do |quality_control_material| %>
      <tr>
        <td><%= quality_control_material.service %></td>
        <td><%= quality_control_material.lot %></td>
        <td><%= quality_control_material.expire %></td>
        <td><%= quality_control_material.equipment %></td>
        <td><%= quality_control_material.reagent.name %></td>
        <td>
          <% if quality_control_material.sd > 0 %>
            <%= ("%.2f" % (quality_control_material.mean - 3 * quality_control_material.sd)) + ' - ' + ("%.2f" % (quality_control_material.mean + 3 * quality_control_material.sd)) %>
          <% else %>
            <%= "> #{("%.2f" % quality_control_material.mean)}" %>
          <% end %>
        <td><%= link_to 'Edit', edit_quality_control_material_path(quality_control_material) %></td>
        <td><%= link_to 'Remove', quality_control_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Quality control material', new_quality_control_material_path, method: :get, class: "btn btn-default" %>
