<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @quality_control_material.service %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @quality_control_material.lot %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @quality_control_material.expire %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @quality_control_material.equipment %>
</p>

<p>
  <strong>Assay Kit:</strong>
  <%= @quality_control_material.reagent.assay_kit.device %>
</p>

<p>
  <strong>Reagent name:</strong>
  <%= @quality_control_material.reagent.name %>
</p>

<p>
  <strong>3SD Range:</strong>
  <%= "%.2f" % (@quality_control_material.mean - 3 * @quality_control_material.sd) %> - <%= "%.2f" % (@quality_control_material.mean + 3 * @quality_control_material.sd) %>
</p>

<%= link_to 'Edit', edit_quality_control_material_path(@quality_control_material) %> |
<%= link_to 'Back', quality_control_materials_path %>
