<%= simple_form_for @assay_kit do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :equipment %>
    <%= f.input :manufacturer %>
    <%= f.input :device %>
    <%= f.input :kit %>
    <%= f.label :reagents, label: "Reagents" %>
    <%= f.simple_fields_for :reagents, wrapper: :inline_form do |builder| %>
      <%= render partial: 'reagent_fields', locals: { f: builder } %>
    <% end %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
