<div class='form-inline'>
  <%= f.input :name, placeholder: "Reagent" %>
  <%= f.input :number, placeholder: "Allocation number" %>
  <%= f.input :unit, placeholder: "Unit" %>
  <%= f.input :break_points, placeholder: "Break Points" %>
  <%= f.input :_destroy, as: :boolean, inline_label: 'Remove', :class => 'btn btn-mini btn-danger' %>
</div>