<% content_for :breadcrumb do %>
  <li class="active">Assay Kits</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Assay Kits
    </strong>
  </h3>
  <p>Here you'll see information of assay kits for all equipments.</p>
</div>

<table class="table table-stripe table-hover">
  <thead>
    <tr>
      <th><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse"><span class="glyphicon glyphicon-collapse-down"></span></a></th>
      <th>Equipment</th>
      <th>Manufacturer</th>
      <th>Device</th>
      <th>Kit</th>
      <th>Diagnosis Rule</th>
      <th colspan="2"></th>
    </tr>
    <tr id="collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
      <th colspan="3"></th>
      <th>Reagent name</th>
      <th>Number</th>
      <th>Unit</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @assay_kits.each do |assay_kit| %>
      <tr>
        <td><a role="button" data-toggle="collapse" class="collapser" href="<%= "#collapse_" + assay_kit.id.to_s %>" aria-expanded="false" aria-controls="<%= "collapse_" + assay_kit.id.to_s %>"><span class="glyphicon glyphicon-collapse-down"></span></a></td>
        <td><%= assay_kit.equipment %></td>
        <td><%= assay_kit.manufacturer %></td>
        <td><%= assay_kit.device %></td>
        <td><%= assay_kit.kit %></td>
        <td><%= assay_kit.diagnosis_ruleset %></td>
        <% if administrator? %>
          <td><%= link_to edit_assay_kit_path(assay_kit) do %><span class="glyphicon glyphicon-edit"></span><% end %></td>
          <td><%= link_to assay_kit, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
        <% end %>
      </tr>
      <% assay_kit.plates.each do |plate| %>
        <tr id="<%= 'plate-' + plate.id.to_s %>" class="collapse in" aria-labelledby="<%= "heading_" + assay_kit.id.to_s%>" other-target="<%= "collapse_" + assay_kit.id.to_s%>">
          <td colspan="3"></td>
          <td><%= plate.reagent.name %></td>
          <td><%= plate.reagent.number %></td>
          <td><%= plate.reagent.unit %></td>
          <% if administrator? %>
            <td><%= link_to edit_reagent_path(plate.reagent) do %><span class="glyphicon glyphicon-edit"></span><% end %></td>
            <td><%= link_to plate, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
          <% else %>
          <td colspan="2"></td>
        <% end %>
        </tr>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assay kit', new_assay_kit_path, class: 'btn btn-default' %>
<%= link_to 'Reagent', reagents_path, class: 'btn btn-default pull-right' %>
