<p id="notice"><%= notice %></p>

<h1>Listing Assay Kits</h1>

<table>
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Manufacturer</th>
      <th>Kit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assay_kits.each do |assay_kit| %>
      <tr>
        <td><%= assay_kit.equipment %></td>
        <td><%= assay_kit.manufacturer %></td>
        <td><%= assay_kit.kit_id %></td>
        <td><%= link_to 'Show', assay_kit %></td>
        <td><%= link_to 'Edit', edit_assay_kit_path(assay_kit) %></td>
        <td><%= link_to 'Destroy', assay_kit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assay kit', new_assay_kit_path %>
