<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment:</strong>
  <%= @assay_kit.equipment %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @assay_kit.manufacturer %>
</p>

<p>
  <strong>Kit:</strong>
  <%= @assay_kit.kit_id %>
</p>

<%= link_to 'Edit', edit_assay_kit_path(@assay_kit) %> |
<%= link_to 'Back', assay_kits_path %>
