<% content_for :header do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?v=3&key=AIzaSyDk8p2C8Mns_FP3hdAEb4sdK9ZAtqKk0cA&libraries=geometry,places&language=&hl=&region=", async: Rails.env.production?, defer: Rails.env.production?, 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to 'Account', account_path(current_account.id) %></li>
  <li class="active">Role</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Request a role
    </strong>
  </h3>
  <p>Request <%= @account.name %>'s role</p>
</div>

<%= simple_form_for @role, url: current_account.has_role?(:admin) ? accounts_roles_grant_path(params: { account: { id: @account.id } }) : accounts_roles_propose_path(params: { account: { id: @account.id } }), data: { account_id: @account.id } do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.hidden_field :tag, value: @role.tag %>
    <div id="roles-role-section">
      <%= f.input :role, collection: Account::ROLES.map { |k, v| [v, k] }, label: 'Role', blank: false, as: :select, required: true %>
    </div>
    <div id="roles-field-section">
      <%= f.input :field, collection: (Account::FIELDS[@role.role] if @role.role) || [], label: 'Field', disabled: @role.field.nil?, as: :select, required: true %>
    </div>        
    <hr />
    <% if @role.from or @role.to or @role.location %>
      <fieldset id="role_options">
    <% else %>
      <fieldset id="role_options" disabled>
    <% end %>
      <%= render partial: "options", locals: { f: f } %>
    </fieldset>
    <% if current_account.has_role?(:admin) %>
      <%= f.input :note, as: :string, label: "To. " + @account.email %>
    <% end %>
  </div>
  
  <div class="form-actions">
    <% if current_account.has_role?(:admin) %>
      <%= f.button :submit, "Accept", name: "accept" %>
      <%= f.button :submit, "Decline", name: "decline" %>
      <%= link_to "Cancel", root_path, { class: 'btn btn-default pull-right', role: 'button' } %>
    <% else %>
      <%= f.button :submit, "Request" %>
      <%= link_to "Back", :back, { class: 'btn btn-default pull-right', role: 'button' } %>
    <% end %>
  </div>
<% end %>
