<% @ezer_reader = equipment %>

<div id="collasped-ezer_reader" aria-expanded="true" class="collapse in">
  <div class="container scrollable_detail" data-spy="scroll" data-target="#navbar-ezer_readers">
    <div class="row">
      <div class="col-sm-9">
        <section id="ezer_reader-diagnosis">
          <h4>@diagnosis</h4>
          <div class="container-fluid">
            <div class="col-xs-6">
              <div class="col-xs-5">
                Processed
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.processed %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Error code
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.error_code %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Decision
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.test_decision %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Health worker
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.user_comment %></strong>
              </div>
            </div>
          </div>
          <br>
          <div class="container-fluid">
            <div class="panel panel-default">
              <div class="panel-heading">Test result</div>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <% @ezer_reader.test_id.split(":").each do |id| %>
                    <th><%= id %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Measured</td>
                    <% @ezer_reader.test_result.split(":").each do |result| %>
                    <td><%= result %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>Threshold</td>
                    <% @ezer_reader.test_threshold.split(":").each do |threshold| %>
                    <td><%= threshold %></td>
                    <% end %>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Result</td>
                    <% @ezer_reader.test_result.split(":").zip(@ezer_reader.test_threshold.split(":")).each do |test, threshold| %>
                    <td><%= "Positive" if test.to_f >= threshold.to_f %><%= "Negative" if test.to_f < threshold.to_f %></td>
                    <% end %>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
        
        <% if @ezer_reader.images.size > 0 %>
        <section id="ezer_reader-images" class="section">
          
          <h4>@images</h4>
          <div class="row thumbnail-base">
            <div id="thumbnail-ezer_readers", class="col-xs-12 thumbnail-window">
              <%= link_to image_tag(@ezer_reader.image_window.image_file.url, alt: @ezer_reader.image_window.tag), "#ezer_reader-images", class: "thumbnail" %>
            </div>
            <div class="thumbnails">
              <% @ezer_reader.images.each do |image| %>
              <%= link_to image_tag(image.image_file.url(:thumbnail), alt: image.tag), "#ezer_reader-images", class: "img-thumbnail" %>
            <% end %>
            </div>            
          </div>            
        </section>
        <% end %>
        
        <section id="ezer_reader-equipment" class="section">
          <h4>@equipment</h4>
          <div class="container-fluid">
            <div class="col-xs-6">
              <div class="col-xs-5">
                Manufacturer
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.manufacturer %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Serial number
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.serial_number %></strong>
              </div>
            </div> 
            <div class="col-xs-6">
              <div class="col-xs-5">
                Kit Maker
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.kit_maker %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Kit
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.kit + " (" + @ezer_reader.lot + ")" %></strong>
              </div>
            </div>      
          </div>      
        </section>
              
        <section id="ezer_reader-addition" class="section">
          <h4>@addition</h4>
          <div class="container-fluid">
            <div class="col-xs-6">
              <div class="col-xs-5">
                Patient
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.patient_id %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Weather
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.weather %></strong>
              </div>
            </div>      
            <div class="col-xs-6">
              <div class="col-xs-5">
                Temperature
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.temperature %></strong>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                Humidity
              </div>
              <div class="col-xs-7">
                <strong><%= @ezer_reader.humidity %></strong>
              </div>
            </div>  
          </div>      
        </section>
      </div>
    
      <div class="col-sm-3 hidden-xs">
        <nav id="navbar-ezer_readers">
          <ul id="affix-ezer_readers" class="nav nav-pills nav-stacked hidden-xs affix-top" data-spy="affix">
            <li><a href="#ezer_reader-diagnosis">Diagnosis</a></li>
            <% if @ezer_reader.images.size > 0 %>
            <li><a href="#ezer_reader-images">Images</a></li>
            <% end %>
            <li><a href="#ezer_reader-equipment">Equipment</a></li>
            <li><a href="#ezer_reader-addition">Addition</a></li>
          </ul>  
        </nav>
      </div>
    </div>
  </div>

  <a class="btn" role="button" data-toggle="collapse" href="#collasped-ezer_reader" aria-expanded="true" aria-controls="collasped-ezer_reader">
    &#9776;
  </a>
</div>
