<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @ezer_reader.version %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @ezer_reader.manufacturer %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @ezer_reader.serial_number %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @ezer_reader.processed %>
</p>

<p>
  <strong>Error code:</strong>
  <%= @ezer_reader.error_code %>
</p>

<p>
  <strong>Kit maker:</strong>
  <%= @ezer_reader.kit_maker %>
</p>

<p>
  <strong>Kit:</strong>
  <%= @ezer_reader.kit %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @ezer_reader.lot %>
</p>

<p>
  <strong>Test decision:</strong>
  <%= @ezer_reader.test_decision %>
</p>

<p>
  <strong>User comment:</strong>
  <%= @ezer_reader.user_comment %>
</p>

<p>
  <strong>Test:</strong>
  <%= @ezer_reader.test_id %>
</p>

<p>
  <strong>Test result:</strong>
  <%= @ezer_reader.test_result %>
</p>

<p>
  <strong>Test threshold:</strong>
  <%= @ezer_reader.test_threshold %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @ezer_reader.patient_id %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @ezer_reader.weather %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @ezer_reader.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @ezer_reader.humidity %>
</p>

<%= link_to 'Edit', edit_ezer_reader_path(@ezer_reader) %> |
<%= link_to 'Back', ezer_readers_path %>
