<% content_for :breadcrumb do %>
  <li><%= link_to "Assay Kits", assay_kits_path %></li>
  <li class="active">QC reports</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      QC repots measured by QC materials for all Equipments
    </strong>
  </h3>
  <p>Here you'll see QC reports measured by QC materials for all equipments.</p>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Serial number</th>
      <th>Assay Kit</th>
      <th>Reagent</th>
      <th>Date</th>
      <th>Transmitted</th>
      <th></th>
      <% if administrator? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.equipment %></td>
        <td><%= report.serial_number %></td>
        <td><%= AssayKit.find(report.reagent.assay_kit_id).device %></td>
        <td><%= report.reagent.name %></td>
        <td><%= report.date %></td>
        <td><%= report.transmitted_at %></td>
        <td><%= link_to "Download", report.document.url, { class: "btn btn-default btn-xs", role: "button" } %></td>
        <% if false %>
        <td>
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#report_<%= report.id %>">
            View
          </button>
  
          <!-- Modal -->
          <div class="modal fade" id="report_<%= report.id %>" tabindex="-1" role="dialog" aria-labelledby="reportLabel_<%= report.id %>">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="report_<%= report.id %>"><%= report.equipment + " " + report.serial_number + ": " + report.reagent.name %></h4>
                </div>
                <div class="modal-body">
                  <iframe class="embed-reponsive-item" src="/pdfjs/web/viewer.html?file=<%= report.document.url %>" style="width:100%; height:75vh; border:0" scrolling="no"></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <% end %>
        
        <% if administrator? %>
          <td><%= link_to 'Remove', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<br>

<%= link_to 'New Report', new_report_path %>
