<p id="notice"><%= notice %></p>

<p>
  <strong>Protocol:</strong>
  <%= @image.protocol %>
</p>

<p>
  <strong>Version:</strong>
  <%= @image.version %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @image.tag %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
